/* Pour ajouter "Exercice" */
/*=========================*/
/* Dans le bloc central */
.exo ~ div>h1:before{
    content: "Exercice ";
}
/* Dans le menu à gauche */
.toctree-l3>a:before{
    content: "Exercice ";
}
/* Sur les pages semaines */
div[id*=semaine] li[class=toctree-l2] a:before{
    content: "Exercice ";
}
/* Sur les pages "feuilles d'exo" */
.feuille_exos ~ div li[class=toctree-l1] a:before{
    content: "Exercice ";
}


/* Pour transformer les listes numérotées en questions  */
/*======================================================*/
.exo ~ div ol.arabic > li {
    counter-increment: question; /* on incrémente le compteur à chaque nouveau li */
    margin-bottom: 1rem;
    list-style: none;
}

.exo ~ div ol.arabic > li:before {
    content: "Question "counter(question) ". ";
    font-weight: bold;
}

.exo{
    counter-reset: question;
}
